@page
@model IoTTestbed.Pages.TaskList.CreateModel
@{



}

<style>
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px black inset !important;
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: #adb5bd !important;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;   
        background-color: black;
       
    }

        input[type=text]:focus {
            background-color: black;
            border-color: #0275d8;
            border-width:thin;
            }


</style>


<br />
<h1 class="text-light">

    Create a new Experiment

</h1>
<hr />

<form method="post">
   

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Experiment.ExperimentName"></label>
            </div>
            <div class="col-6">
                <input asp-for="Experiment.ExperimentName" class="form-control text-light" />
            </div>

            <span asp-validation-for="Experiment.ExperimentName" class="text-danger"></span>

        </div>


        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Experiment.Info"></label>
            </div>
            <div class="col-6">
                <input asp-for="Experiment.Info" class="form-control text-light" />
            </div>
            <span asp-validation-for="Experiment.Info" class="text-danger"></span>
        </div>
    


    <h3 class="text-light">

        Select <strong class="text-primary">available</strong> sensor(s) then upload the file.

    </h3>

    <br />

    <br />

    <div class="container p-0 m-0 ">
        <div class="row">
            <div class="col-12  p-1 mt-1  "  >

                @if (Model.AvailableSensors.Count() > 0)
                {

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>

                                    <label class="text-center" asp-for="Sensors.FirstOrDefault().SensorId"></label>

                                </th>
                                <th> <label class="text-center ml-auto" asp-for="Sensors.FirstOrDefault().RasIp"></label></th>
                                <th> <label class="text-center" asp-for="Sensors.FirstOrDefault().Rime"></label></th>
                                <th> <label class="" asp-for="Sensors.FirstOrDefault().Availability"></label></th>
                                <th> <label class="text-center" asp-for="Sensors.FirstOrDefault().Status"></label></th>
                                <th> Select</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var sensor_item in Model.Sensors)
                            {

                                <tr>

                                    <td>@Html.DisplayFor(m => sensor_item.SensorId)</td>
                                    <td class="">@Html.DisplayFor(m => sensor_item.RasIp)</td>
                                    <td class="">@Html.DisplayFor(m => sensor_item.Rime)</td>
                                    <td class="">@Html.DisplayFor(m => sensor_item.Availability)</td>


                                    @if (sensor_item.Status.Equals("active"))
                                    {

                                        <td>
                                            <span class="badge badge-warning">Active</span>
                                        </td>
                                    }


                                    else if (sensor_item.Status.Equals("pending"))
                                    {

                                        <td>
                                            <span class="badge badge-info">Pending</span>
                                        </td>
                                    }


                                    else if (sensor_item.Status.Equals("unavailable"))
                                    {


                                        <td>
                                            <span class="badge badge-danger">Unavailable</span>
                                        </td>


                                    }

                                    else
                                    {

                                        <td>
                                            <span class="badge badge-success">Available</span>
                                        </td>


                                    }

                                    @*<td>
                                            <button asp-page-handler="Delete" asp-route-id="@sensor_item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                        </td>*@


                                    @if (sensor_item.Status.Equals("available"))
                                    {

                                        <td> <input type="checkbox" name="SelectedSensors" value="@sensor_item.SensorId"> </td>


                                    }
                                    else
                                    {
                                        <td> <input type="checkbox" name="SelectedSensors" value="@sensor_item.SensorId"> </td>

                                    }




                                </tr>


                            }


                        </tbody>
                    </table>
                }

                else
                {


                    <p>There are no sensors available</p>


                }


            </div>
        </div>
    </div>


    <br />
    <br />






    <div class="row">

        <div class="col-3">
            <button asp-page-handler="Continue" class="btn btn-primary form-control" type="submit">Continue</button>
        </div>

        <br />
    </div>



    <br />




</form>

@section scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}