@page
@model IoTTestbed.Pages.TaskList.CreateModel
@{



}
<br />
<h1 class="text-info">

    Create a new Task

</h1>
<hr />

<h3 class="text-dark">

    Select <strong class="text-success">available</strong> sensor(s) then upload the file.

</h3>
<br />
<div class="container">
    <div class="row">
        <div class="span5">

            @if (Model.AvailableSensors.Count() > 0)
            {
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>

                                <label asp-for="Sensors.FirstOrDefault().Id"></label>

                            </th>
                            <th> <label class="text-center" asp-for="Sensors.FirstOrDefault().RasIp"></label></th>
                            <th> <label class="text-center" asp-for="Sensors.FirstOrDefault().Rime"></label></th>
                            <th> <label class="text-center" asp-for="Sensors.FirstOrDefault().Availability"></label></th>
                            <th> <label class="text-center" asp-for="Sensors.FirstOrDefault().Status"></label></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var sensor_item in Model.Sensors)
                        {

                            <tr>

                                <td class="text-center">@Html.DisplayFor(m => sensor_item.Id)</td>
                                <td class="text-center">@Html.DisplayFor(m => sensor_item.RasIp)</td>
                                <td class="text-center">@Html.DisplayFor(m => sensor_item.Rime)</td>
                                <td class="text-center">@Html.DisplayFor(m => sensor_item.Availability)</td>



                                @if (sensor_item.Status.Equals("active"))
                                {

                                    <td>
                                        <span class="badge badge-warning">Active</span>
                                    </td>
                                }


                                else if (sensor_item.Status.Equals("pending"))
                                {

                                    <td>
                                        <span class="badge badge-info">Pending</span>
                                    </td>
                                }

                                else
                                {

                                    <td>
                                        <span class="badge badge-success">Available</span>
                                    </td>


                                }

                                @*<td>
                                        <button asp-page-handler="Delete" asp-route-id="@sensor_item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                    </td>*@

                            </tr>


                        }


                    </tbody>
                </table>
            }

            else
            {


                <p>There are no sensors available</p>


            }


        </div>
    </div>
</div>


<br />
<br />
<form enctype="multipart/form-data" method="post" >
    <div class="input-group">

        <div class="custom-file">
            <input asp-for="FileUpload.FormFile" type="file" class="custom-file-input" id="inputGroupFile04">
            <label asp-for="FileUpload.FormFile" class="custom-file-label" for="inputGroupFile04">Choose file</label>
            <span asp-validation-for="FileUpload.FormFile"></span>
        </div>
        <div class="input-group-append">
            <input asp-page-handler="Upload" class="btn btn-success" type="submit" value="Upload" />
        </div>

    </div>
</form>



@*<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFile" type="file" />
            <span asp-validation-for="FileUpload.FormFile"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
</form>*@

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            document.querySelector('.custom-file-input').addEventListener('change', function (e) {
                var fileName = document.getElementById("inputGroupFile04").value;

                //console.log(fileName.substring(fileName.lastIndexOf("\\") + 1));
                var nextSibling = e.target.nextElementSibling

                nextSibling.innerText = fileName.substring(fileName.lastIndexOf('\\') + 1)
                //nextSibling.innerText = fileName;
            })

        </script>


    @*<script>
            "use strict";

            function AJAXSubmit(oFormElement) {
                var oReq = new XMLHttpRequest();
                oReq.onload = function (e) {
                    oFormElement.elements.namedItem("result").value =
                        'Result: ' + this.status + ' ' + this.statusText;
                };
                oReq.open("post", oFormElement.action);
                oReq.send(new FormData(oFormElement));
            }
        </script>*@


}