@page
@model IoTTestbed.Pages.TaskList.CreateModel
@{

    Layout = "_LayoutSession";

}

<br /><br /><br />

<br />
<div class="container mt-3">
    <h1 class="text-black-50">

        Create a new Experiment

    </h1>
</div>
<br />
<hr />

<div class="container">
<form method="post">
   

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Experiment.ExperimentName"></label>
            </div>
            <div class="col-6">
                <input asp-for="Experiment.ExperimentName" class="form-control " />
            </div>

            <span asp-validation-for="Experiment.ExperimentName" class="text-danger"></span>

        </div>


        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Experiment.Info"></label>
            </div>
            <div class="col-6">
                <input asp-for="Experiment.Info" class="form-control " />
            </div>
            <span asp-validation-for="Experiment.Info" class="text-danger"></span>
        </div>
    

        <br />
    <h3 class="text-dark">

        Select sensor(s) then continue to the next step.

    </h3>

    <br />

    <br />

    <div class="container p-0 m-0 ">
        <div class="row">
            <div class="col-12  p-1 mt-1  "  >

                @if (Model.AvailableSensors.Count() > 0)
                {

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>

                                    <label class="text-center" asp-for="Sensors.FirstOrDefault().SensorId"></label>

                                </th>
                                 <th> <label class="text-center" asp-for="Sensors.FirstOrDefault().Rime"></label></th>
                                <th> <label class="" asp-for="Sensors.FirstOrDefault().Status"></label></th>
                                <th> <label class="text-center" asp-for="Sensors.FirstOrDefault().Availability"></label></th>
                                <th> Select</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var sensor_item in Model.Sensors)
                            {

                                <tr>

                                    <td>@Html.DisplayFor(m => sensor_item.SensorId)</td>
                                    <td class="">@Html.DisplayFor(m => sensor_item.Rime)</td>
                                    <td class="">@Html.DisplayFor(m => sensor_item.Availability)</td>


                                    @if (sensor_item.Status.Equals("active"))
                                    {

                                        <td>
                                            <span class="badge badge-warning">Active</span>
                                        </td>
                                    }


                                    else if (sensor_item.Status.Equals("pending"))
                                    {

                                        <td>
                                            <span class="badge badge-info">Pending</span>
                                        </td>
                                    }


                                    else if (sensor_item.Status.Equals("unavailable"))
                                    {


                                        <td>
                                            <span class="badge badge-danger">Unavailable</span>
                                        </td>


                                    }

                                    else
                                    {

                                        <td>
                                            <span class="badge badge-success">Available</span>
                                        </td>


                                    }

                                    @*<td>
                                            <button asp-page-handler="Delete" asp-route-id="@sensor_item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                        </td>*@


                                    @if (sensor_item.Status.Equals("available"))
                                    {

                                        <td> <input type="checkbox" name="SelectedSensors" value="@sensor_item.SensorId"> </td>


                                    }
                                    else
                                    {
                                        <td> <input type="checkbox" name="SelectedSensors" value="@sensor_item.SensorId"> </td>

                                    }




                                </tr>


                            }


                        </tbody>
                    </table>
                }

                else
                {


                    <p>There are no sensors available</p>


                }


            </div>
        </div>
    </div>


    <br />
    <br />






    <div class="row">

        <div class="col-3">
            <button asp-page-handler="Continue" class="btn btn-primary form-control" type="submit">Continue</button>
        </div>

        <br />
    </div>



    <br />




</form>
</div>
@section scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}