@page
@model IoTTestbed.Pages.TaskList.IndexModel
@{

    Layout = "_LayoutSession";

}
@using Microsoft.AspNetCore.Http

<br />

<br />
<br />

<a asp-page="Create" class="btn btn-primary btn-lg">Create new Experiment</a>

<br />
<br />
<br />
<h4> Hello</h4>


<div class="col-12 p-3 mt-3">
    <form method="post">

        @if (Model.Experiments.Count() > 0)
        {

            <table class="table table-striped ">
                <tr class="table-secondary">
                    <th>

                        <label asp-for="Experiments.FirstOrDefault().ExperimentId"></label>

                    </th>


                    @*this is the same thing*@

                    @*<th>
            @Html.DisplayNameFor(m=>m.Books.FirstOrDefault().Password)

        </th>*@

                    <th>

                        <label asp-for="Experiments.FirstOrDefault().ExperimentName"></label>

                    </th>

                    <th>

                        <label asp-for="Experiments.FirstOrDefault().Info"></label>

                    </th>


                    <th>
                        <label asp-for="Experiments.FirstOrDefault().Status"></label>

                    </th>


                    <th>
                        <label asp-for="Experiments.FirstOrDefault().Duration"></label>

                    </th>

                    <th>

                        <label>Actions</label>

                    </th>



                </tr>
                @foreach (var item in Model.Experiments)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.ExperimentId)

                </td>
                <td>
                    @Html.DisplayFor(m => item.ExperimentName)

                </td>

                <td>
                    @Html.DisplayFor(m => item.Info)

                </td>


                <td>
                    @Html.DisplayFor(m => item.Status)

                </td>

                <td>
                    @Html.DisplayFor(m => item.Duration)

                </td>


                <td>
                    @*  <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this book?')" class="btn-danger btn">Delete</button>*@

                    <button asp-page-handler="Delete" asp-route-id="@item.ExperimentId" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger ">Delete</button>


                    @if (item.Status == "finished")
                    {

                        <button asp-route-id="@item.ExperimentId" asp-page-handler="Download" class="btn-warning btn">Download Log file</button>
                    }
                    else
                    {
                        <button disabled title="Experiment is not finished" asp-route-id="@item.ExperimentId" asp-page-handler="Download" class="btn-warning btn">Download Log file</button>
                    }

                    @if (item.Status == "running")
                    {
                        <button asp-route-id="@item.ExperimentId" asp-page="Results" class="btn-info btn">View Results</button>
                    }
                    else
                    {

                        <button disabled asp-route-id="@item.ExperimentId" asp-page="Results" class="btn-info btn">View Results</button>

                    }

                </td>

            </tr>

                }
            </table>


        }
        else
        {

            <p>No Experiments available</p>

        }
    </form>

</div>


