@page "{ExperimentId}"
@model IoTTestbed.Pages.TaskList.SelectionModel
@{

    string Disabled = "";
    if (Model.Ready == false)
    {
        Disabled = "disabled";
    }

    Layout = "_LayoutSession";

}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">

                    <label for="NewProject">Project Name</label>
                    <input type="text" class="form-control" placeholder="Enter name" name="NewProject">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button asp-page-handler="CreateNew" type="submit" class="btn btn-primary">Create Project</button>
                </div>

            </form>
        </div>
    </div>
</div>



<div class="col-12 border p-3 m-3 ">

    <h7 class="text-black-50"> Experiment ID: <strong>@Html.DisplayFor(m => Model.Experiment.ExperimentId)</strong></h7>
    <br /> <br />
    <h7 class="text-black-50"> Experiment name: <strong>@Html.DisplayFor(m => Model.Experiment.ExperimentName)</strong></h7>
    <br /><br />
    <ul>
        <li>Create a new project at Selected Nodes</li>
        <li>Select the sensors then upload the files (Do not Forget to upload the Makefile). </li>
        <li>When complete uploading to selected sensors choose Runtime then run the Experiment</li>
        <li> @(ViewContext.RouteData.Values["ExperimentId"])</li>
    </ul>

</div>




<div class="col-12  p-3 mt-3">
    <form id="form" method="post" onsubmit="showHidden(); return False;">

        @if (Model.SelectedSensors.Count() > 0)
        {

            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>

                        <label asp-for="SelectedSensors.FirstOrDefault().SensorId"></label>


                    </th>
                    <th>

                        <label asp-for="SelectedSensors.FirstOrDefault().Risp"></label>

                    </th>

                    <th>

                        <label asp-for="SelectedSensors.FirstOrDefault().Status"></label>

                    </th>


                    <th class="text-left">

                        <label>Actions</label>

                    </th>

                    <th>

                        <label>Select</label>

                    </th>

                </tr>

                @foreach (var item in Model.SelectedSensors)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.SensorId)

                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Risp)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.Status)
                        </td>
                        <td>
                            <input class="btn-danger btn " type="submit" name="Delete" value="Delete">
                            <input asp-page="continue" class=" btn btn-secondary" type="submit" name="View" value="View Contents">
                        </td>
                        <td> <input type="checkbox" name="SelectedSensorsIDs" value="@item.SensorId"> </td>
                    </tr>
                }
            </table>

            <div class="container">
                <div class="row">
                    <div class=" col-6 p-3 mt-3">

                        <label class="font-weight-bold" for="NewProject">Create new Project </label>
                        <input type="text" class="form-control text-light" placeholder="Enter name" name="NewProject">
                        <br />
                        @*  <button asp-page-handler="CreateNew" type="submit" class="btn btn-primary">Create Project</button>*@

                        <input id="expid" type="hidden" value=@(ViewContext.RouteData.Values["ExperimentId"]) />
                        <input type="button" class="btn btn-primary" value="Create Project" onclick="DoAjaxPostAndMore(this)" />

                    </div>


                </div>
            </div>
        }

        else
        {

            <h2> Your Experiment is ready to run</h2>


        }


    </form>
    <br />

    <form enctype="multipart/form-data" method="post">
        <div class="input-group" id="UploadInput" style="display: none;">
            <div class="custom-file">
                <input asp-for="FileUpload.FormFile" type="file" class="custom-file-input" size="60" id="inputGroupFile04">
                <label id="uplabel" asp-for="FileUpload.FormFile" class="custom-file-label" for="inputGroupFile04">Choose file ...</label>
                <span asp-validation-for="FileUpload.FormFile"></span>
            </div>
            <div class="input-group-append">
                <input asp-page-handler="Upload" class="btn btn-primary form-control" type="submit" value="Upload" />
            </div>
        </div>
        <br />
        @Html.AntiForgeryToken()
    </form>

    <form method="post" class="form-inline">
        <div class="form-group">
            @if (Model.SelectedSensors.Count() > 0)
            {

                <input type="text" class="form-control" placeholder="Duration" name="Duration" hidden>
                <br />


                <input asp-page-handler="RunExperiment" class="btn btn-success" type="submit" name="runExperiment" value="Run Experiment" hidden />
            }
            else
            {
                <label for="durationInput">Experiment duration</label>
                <input type="text" class="form-control mx-sm-3" id="durationInput" aria-describedby="durationInput" name="Duration">
                <small id="durationInput" class="text-muted">Experiment Duration in minutes</small>

                //    <input type="text" class="form-control" placeholder="Duration" name="Duration">

                <input asp-page-handler="RunExperiment" class="btn btn-success ml-3" type="submit" name="runExperiment" value="Run Experiment" />
            }

        </div>
        <br />


    </form>

</div>


@section Scripts{
    @*  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script>
        function showHidden() {
            UploadInput
            var div = document.getElementById("UploadInput");
            if (div.style.display == 'none') {
                div.style.display = '';
            }
            //else {
            //    div.style.display = 'none';
            //}
        }
        function DoAjaxPostAndMore(btnClicked) {
            var $form = $(btnClicked).parents('form');
            var expid = $("input[id=expid]").val();
            //console.log('Its working damn!!!!', expid)
            $.ajax({
                type: "post",
                url: "/TaskList/Selection/" + expid + "?handler=CreateNew",
                data: $form.serialize(),
                error: function (xhr, status, error) {
                },
                success: function (response) {
                    showHidden();
                }
            });
            return false;
        }
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
            var fileName = document.getElementById("inputGroupFile04").value;
            //console.log(fileName.substring(fileName.lastIndexOf("\\") + 1));
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName.substring(fileName.lastIndexOf('\\') + 1)
            // nextSibling.innerText = fileName;
        })
    </script>
}


