@page
@model IoTTestbed.Pages.Admin.UsersModel
@{
    Layout = "_LayoutAdmin";
}
<br />
<br />
<br />
<div class="col-12 mt-5">

    <h1 class="text-black-50">Users</h1>



</div>


<div class="col-12 border mt-5">
    <form method="post">

        @if (Model.users.Count() > 0)
        {

            <table class="table table-striped border">
                <tr class="table-secondary">

                    <th>

                        <label>User ID</label>

                    </th>
                    <th>

                        <label asp-for="users.FirstOrDefault().Name"></label>

                    </th>




                    <th>

                        <label asp-for="users.FirstOrDefault().Surname"></label>

                    </th>


                    <th>

                        <label asp-for="users.FirstOrDefault().Email"></label>

                    </th>

                    <th>

                        <label asp-for="users.FirstOrDefault().Institution"></label>

                    </th>

                    <th>

                        <label>Actions</label>

                    </th>

                </tr>
                @foreach (var item in Model.users)
                {
            <tr>
                <td class="font-weight-bold">
                    @Html.DisplayFor(m => item.UserId)

                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)

                </td>
                <td>
                    @Html.DisplayFor(m => item.Surname)

                </td>


                <td>
                    @Html.DisplayFor(m => item.Email)

                </td>

                <td>
                    @Html.DisplayFor(m => item.Institution)

                </td>

                <td>
                    <button asp-page-handler="Delete" asp-route-uid="@item.UserId" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-link"><i class="fas fa-trash-alt"></i></button>

                  @*  <a asp-page-handler="Delete" asp-route-uid="@item.UserId" onclick="return confirm('Are you sure you want to delete?')" class="btn-link text-black-50 hover"><i class="fas fa-trash-alt"></i></a>*@

                </td>


            </tr>

                }
            </table>


        }
        else
        {

            <p>No requests</p>

        }
    </form>

</div>

